<a href="https://colab.research.google.com/github/osvaldofacundo/proyectowebscraping/blob/main/proyectowebscraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re #usamos la libreria re de regular expression

In [2]:
webpage= requests.get("https://footballdatabase.com/league-scores-tables/argentina-primera-division-2022")
soup = BeautifulSoup(webpage.content, "html.parser") #todo el codigo html de la pagina

In [3]:
soup.find(id='total')
liga= soup.find_all(id='total') # identificamos la tabla y buscamos y extraemos ella del codigo html

In [4]:
liga= str(liga) # transformamos a str la tabla

In [5]:
liga= re.sub(r'<.*?>', lambda g: g.group(0).upper(), liga) #cambiamos a mayusculas
liga

'[<DIV CLASS="TAB-PANE FADE IN ACTIVE" ID="TOTAL"><DIV CLASS="TABLE-RESPONSIVE">\n<TABLE CLASS="TABLE TABLE-HOVER TABLE-CONDENSED">\n<THEAD>\n<TR><TH>#</TH><TH CLASS="TEXT-LEFT" STYLE="WIDTH:35%;">Club</TH><TH><ABBR TITLE="POINTS">P</ABBR></TH><TH><ABBR TITLE="GOAL DIFFERENCE">+/-</ABBR></TH><TH><ABBR TITLE="MATCHES PLAYED">M</ABBR></TH><TH><ABBR TITLE="WON">W</ABBR></TH><TH><ABBR TITLE="DRAWN">D</ABBR></TH><TH><ABBR TITLE="LOST">L</ABBR></TH><TH><ABBR TITLE="GOALS FOR">F</ABBR></TH><TH CLASS="DIVISION"><ABBR TITLE="GOALS AGAINST">A</ABBR></TH></TR>\n</THEAD>\n<TBODY>\n<TR><TD>1</TD><TD><A CLASS="SM_LOGO-NAME" HREF="/CLUBS-RANKING/ATLETICO-TUCUMAN" STYLE="BACKGROUND-IMAGE: URL(/LOGOS/CLUB/20PX/1269.PNG);" TITLE="">Atlético Tucumán</A></TD><TD>34</TD><TD>11</TD><TD>18</TD><TD>9</TD><TD>7</TD><TD>2</TD><TD>20</TD><TD>9</TD></TR><TR><TD>2</TD><TD><A CLASS="SM_LOGO-NAME" HREF="/CLUBS-RANKING/GIMNASIA-LA-PLATA" STYLE="BACKGROUND-IMAGE: URL(/LOGOS/CLUB/20PX/395.PNG);" TITLE="">Gimnasia y Esgrima La Plata</A></TD><TD>33</TD><TD>9</TD><TD>18</TD><TD>9</TD><TD>6</TD><TD>3</TD><TD>19</TD><TD>10</TD></TR><TR><TD>3</TD><TD><A CLASS="SM_LOGO-NAME" HREF="/CLUBS-RANKING/HURACAN" STYLE="BACKGROUND-IMAGE: URL(/LOGOS/CLUB/20PX/422.PNG);" TITLE="">Huracán</A></TD><TD>32</TD><TD>9</TD><TD>18</TD><TD>8</TD><TD>8</TD><TD>2</TD><TD>22</TD><TD>13</TD></TR><TR><TD>4</TD><TD><A CLASS="SM_LOGO-NAME" HREF="/CLUBS-RANKING/BOCA-JUNIORS" STYLE="BACKGROUND-IMAGE: URL(/LOGOS/CLUB/20PX/252.PNG);" TITLE="">Boca Juniors</A></TD><TD>32</TD><TD>2</TD><TD>18</TD><TD>10</TD><TD>2</TD><TD>6</TD><TD>24</TD><TD>22</TD></TR><TR><TD>5</TD><TD><A CLASS="SM_LOGO-NAME" HREF="/CLUBS-RANKING/GODOY-CRUZ-ANTONIO-TOMBA" STYLE="BACKGROUND-IMAGE: URL(/LOGOS/CLUB/20PX/84.PNG);" TITLE="">Godoy Cruz Antonio Tomba</A></TD><TD>31</TD><TD>4</TD><TD>18</TD><TD>9</TD><TD>4</TD><TD>5</TD><TD>21</TD><TD>17</TD></TR><TR><TD>6</TD><TD><A CLASS="SM_LOGO-NAME" HREF="/CLUBS-RANKING/ARGENTINOS-JUNIORS" STYLE="BACKGROUND-IMAGE: URL(/LOGOS/CLUB/20PX/143.PNG);" TITLE="">Argentinos Juniors</A></TD><TD>30</TD><TD>4</TD><TD>18</TD><TD>9</TD><TD>3</TD><TD>6</TD><TD>20</TD><TD>16</TD></TR><TR><TD>7</TD><TD><A CLASS="SM_LOGO-NAME" HREF="/CLUBS-RANKING/RIVER-PLATE-BUENOS-AIRES" STYLE="BACKGROUND-IMAGE: URL(/LOGOS/CLUB/20PX/79.PNG);" TITLE="">River Plate</A></TD><TD>29</TD><TD>12</TD><TD>18</TD><TD>8</TD><TD>5</TD><TD>5</TD><TD>27</TD><TD>15</TD></TR><TR><TD>8</TD><TD><A CLASS="SM_LOGO-NAME" HREF="/CLUBS-RANKING/RACING-CLUB-AVELLANEDA" STYLE="BACKGROUND-IMAGE: URL(/LOGOS/CLUB/20PX/93.PNG);" TITLE="">Racing Club</A></TD><TD>28</TD><TD>9</TD><TD>18</TD><TD>7</TD><TD>7</TD><TD>4</TD><TD>24</TD><TD>15</TD></TR><TR><TD>9</TD><TD><A CLASS="SM_LOGO-NAME" HREF="/CLUBS-RANKING/PATRONATO-DE-PARANA" STYLE="BACKGROUND-IMAGE: URL(/LOGOS/CLUB/20PX/0.PNG);" TITLE="">Patronato de Parana</A></TD><TD>27</TD><TD>4</TD><TD>18</TD><TD>7</TD><TD>6</TD><TD>5</TD><TD>23</TD><TD>19</TD></TR><TR><TD>10</TD><TD><A CLASS="SM_LOGO-NAME" HREF="/CLUBS-RANKING/SAN-LORENZO" STYLE="BACKGROUND-IMAGE: URL(/LOGOS/CLUB/20PX/312.PNG);" TITLE="">San Lorenzo de Almagro</A></TD><TD>26</TD><TD>5</TD><TD>18</TD><TD>5</TD><TD>11</TD><TD>2</TD><TD>23</TD><TD>18</TD></TR><TR><TD>11</TD><TD><A CLASS="SM_LOGO-NAME" HREF="/CLUBS-RANKING/CLUB-ATLETICO-PLATENSE" STYLE="BACKGROUND-IMAGE: URL(/LOGOS/CLUB/20PX/0.PNG);" TITLE="">Club Atlético Platense</A></TD><TD>26</TD><TD>3</TD><TD>18</TD><TD>6</TD><TD>8</TD><TD>4</TD><TD>17</TD><TD>14</TD></TR><TR><TD>12</TD><TD><A CLASS="SM_LOGO-NAME" HREF="/CLUBS-RANKING/NEWELLS-OLD-BOYS" STYLE="BACKGROUND-IMAGE: URL(/LOGOS/CLUB/20PX/236.PNG);" TITLE="">Newell\'s Old Boys</A></TD><TD>26</TD><TD>1</TD><TD>18</TD><TD>7</TD><TD>5</TD><TD>6</TD><TD>17</TD><TD>16</TD></TR><TR><TD>13</TD><TD><A CLASS="SM_LOGO-NAME" HREF="/CLUBS-RANKING/ESTUDIANTES" STYLE="BACKGROUND-IMAGE: URL(/LOGOS/CLUB/20PX/8.PNG);" TITLE="">Estudiantes de la Plata</A></TD><TD>26</TD><TD>0</TD><TD>18</TD><TD>7</TD><TD>5</TD><TD>6</TD><TD>17</TD><TD>17</TD></TR><TR><TD>14</TD><TD><A CLASS="SM_LOGO-NAME" HREF="/CLUBS-RANKING/UNION-SANTA-FE" STYLE="BACKGROUND-IMAGE: URL(/LOGOS/CLUB/20PX/1544.PNG);" TITLE="">Unión Santa Fe</A></TD><TD>26</TD><TD>-1</TD><TD>17</TD><TD>7</TD><TD>5</TD><TD>5</TD><TD>21</TD><TD>22</TD></TR><TR><TD>15</TD><TD><A CLASS="SM_LOGO-NAME" HREF="/CLUBS-RANKING/TIGRE" STYLE="BACKGROUND-IMAGE: URL(/LOGOS/CLUB/20PX/273.PNG);" TITLE="">Tigre</A></TD><TD>23</TD><TD>2</TD><TD>18</TD><TD>5</TD><TD>8</TD><TD>5</TD><TD>25</TD><TD>23</TD></TR><TR><TD>16</TD><TD><A CLASS="SM_LOGO-NAME" HREF="/CLUBS-RANKING/BARRACAS-CENTRAL" STYLE="BACKGROUND-IMAGE: URL(/LOGOS/CLUB/20PX/0.PNG);" TITLE="">Barracas Central</A></TD><TD>23</TD><TD>-6</TD><TD>18</TD><TD>6</TD><TD>5</TD><TD>7</TD><TD>20</TD><TD>26</TD></TR><TR><TD>17</TD><TD><A CLASS="SM_LOGO-NAME" HREF="/CLUBS-RANKING/BANFIELD" STYLE="BACKGROUND-IMAGE: URL(/LOGOS/CLUB/20PX/336.PNG);" TITLE="">Banfield</A></TD><TD>22</TD><TD>-1</TD><TD>18</TD><TD>5</TD><TD>7</TD><TD>6</TD><TD>17</TD><TD>18</TD></TR><TR><TD>18</TD><TD><A CLASS="SM_LOGO-NAME" HREF="/CLUBS-RANKING/CLUB-ATLETICO-SARMIENTO" STYLE="BACKGROUND-IMAGE: URL(/LOGOS/CLUB/20PX/0.PNG);" TITLE="">Sarmiento</A></TD><TD>22</TD><TD>-4</TD><TD>18</TD><TD>6</TD><TD>4</TD><TD>8</TD><TD>18</TD><TD>22</TD></TR><TR><TD>19</TD><TD><A CLASS="SM_LOGO-NAME" HREF="/CLUBS-RANKING/ROSARIO-CENTRAL" STYLE="BACKGROUND-IMAGE: URL(/LOGOS/CLUB/20PX/1271.PNG);" TITLE="">Rosario Central</A></TD><TD>22</TD><TD>-4</TD><TD>18</TD><TD>6</TD><TD>4</TD><TD>8</TD><TD>14</TD><TD>18</TD></TR><TR><TD>20</TD><TD><A CLASS="SM_LOGO-NAME" HREF="/CLUBS-RANKING/CLUB-ATLETICO-CENTRAL-CORDOBA-DE-SANTIAGO" STYLE="BACKGROUND-IMAGE: URL(/LOGOS/CLUB/20PX/0.PNG);" TITLE="">CA Central Cordoba</A></TD><TD>21</TD><TD>-3</TD><TD>18</TD><TD>6</TD><TD>3</TD><TD>9</TD><TD>22</TD><TD>25</TD></TR><TR><TD>21</TD><TD><A CLASS="SM_LOGO-NAME" HREF="/CLUBS-RANKING/ARSENAL-DE-SARANDI" STYLE="BACKGROUND-IMAGE: URL(/LOGOS/CLUB/20PX/116.PNG);" TITLE="">Arsenal de Sarandí</A></TD><TD>20</TD><TD>-2</TD><TD>18</TD><TD>3</TD><TD>11</TD><TD>4</TD><TD>18</TD><TD>20</TD></TR><TR><TD>22</TD><TD><A CLASS="SM_LOGO-NAME" HREF="/CLUBS-RANKING/CSD-DEFENSA-Y-JUSTICIA" STYLE="BACKGROUND-IMAGE: URL(/LOGOS/CLUB/20PX/0.PNG);" TITLE="">Defensa y Justicia</A></TD><TD>19</TD><TD>-4</TD><TD>17</TD><TD>4</TD><TD>7</TD><TD>6</TD><TD>14</TD><TD>18</TD></TR><TR><TD>23</TD><TD><A CLASS="SM_LOGO-NAME" HREF="/CLUBS-RANKING/CA-INDEPENDIENTE-AVELLANEDA" STYLE="BACKGROUND-IMAGE: URL(/LOGOS/CLUB/20PX/387.PNG);" TITLE="">Independiente</A></TD><TD>18</TD><TD>-3</TD><TD>18</TD><TD>4</TD><TD>6</TD><TD>8</TD><TD>19</TD><TD>22</TD></TR><TR><TD>24</TD><TD><A CLASS="SM_LOGO-NAME" HREF="/CLUBS-RANKING/COLON-SANTA-FE" STYLE="BACKGROUND-IMAGE: URL(/LOGOS/CLUB/20PX/245.PNG);" TITLE="">Colón Santa Fe</A></TD><TD>18</TD><TD>-7</TD><TD>18</TD><TD>4</TD><TD>6</TD><TD>8</TD><TD>15</TD><TD>22</TD></TR><TR><TD>25</TD><TD><A CLASS="SM_LOGO-NAME" HREF="/CLUBS-RANKING/TALLERES-CORDOBA" STYLE="BACKGROUND-IMAGE: URL(/LOGOS/CLUB/20PX/0.PNG);" TITLE="">Talleres de Cordoba</A></TD><TD>15</TD><TD>-4</TD><TD>16</TD><TD>3</TD><TD>6</TD><TD>7</TD><TD>12</TD><TD>16</TD></TR><TR><TD>26</TD><TD><A CLASS="SM_LOGO-NAME" HREF="/CLUBS-RANKING/VELEZ-SARSFIELD" STYLE="BACKGROUND-IMAGE: URL(/LOGOS/CLUB/20PX/9.PNG);" TITLE="">Vélez Sarsfield</A></TD><TD>13</TD><TD>-6</TD><TD>18</TD><TD>1</TD><TD>10</TD><TD>7</TD><TD>19</TD><TD>25</TD></TR><TR><TD>27</TD><TD><A CLASS="SM_LOGO-NAME" HREF="/CLUBS-RANKING/CLUB-ATLETICO-ALDOSIVI" STYLE="BACKGROUND-IMAGE: URL(/LOGOS/CLUB/20PX/0.PNG);" TITLE="">Aldosivi</A></TD><TD>13</TD><TD>-17</TD><TD>18</TD><TD>3</TD><TD>4</TD><TD>11</TD><TD>11</TD><TD>28</TD></TR><TR><TD>28</TD><TD><A CLASS="SM_LOGO-NAME" HREF="/CLUBS-RANKING/LANUS" STYLE="BACKGROUND-IMAGE: URL(/LOGOS/CLUB/20PX/241.PNG);" TITLE="">Lanús</A></TD><TD>11</TD><TD>-13</TD><TD>18</TD><TD>2</TD><TD>5</TD><TD>11</TD><TD>15</TD><TD>28</TD></TR> </TBODY>\n</TABLE>\n</DIV></DIV>]'

In [6]:
df = pd.read_html(liga)[0] #usamos con el texto en string un read html de pandas
df # nos genera el dataframe

     #                         Club   P  +/-   M   W   D   L   F   A
0    1             Atlético Tucumán  34   11  18   9   7   2  20   9
1    2  Gimnasia y Esgrima La Plata  33    9  18   9   6   3  19  10
2    3                      Huracán  32    9  18   8   8   2  22  13
3    4                 Boca Juniors  32    2  18  10   2   6  24  22
4    5     Godoy Cruz Antonio Tomba  31    4  18   9   4   5  21  17
5    6           Argentinos Juniors  30    4  18   9   3   6  20  16
6    7                  River Plate  29   12  18   8   5   5  27  15
7    8                  Racing Club  28    9  18   7   7   4  24  15
8    9          Patronato de Parana  27    4  18   7   6   5  23  19
9   10       San Lorenzo de Almagro  26    5  18   5  11   2  23  18
10  11       Club Atlético Platense  26    3  18   6   8   4  17  14
11  12            Newell's Old Boys  26    1  18   7   5   6  17  16
12  13      Estudiantes de la Plata  26    0  18   7   5   6  17  17
13  14               Unión Santa Fe  26   -1  17   7   5   5  21  22
14  15                        Tigre  23    2  18   5   8   5  25  23
15  16             Barracas Central  23   -6  18   6   5   7  20  26
16  17                     Banfield  22   -1  18   5   7   6  17  18
17  18                    Sarmiento  22   -4  18   6   4   8  18  22
18  19              Rosario Central  22   -4  18   6   4   8  14  18
19  20           CA Central Cordoba  21   -3  18   6   3   9  22  25
20  21           Arsenal de Sarandí  20   -2  18   3  11   4  18  20
21  22           Defensa y Justicia  19   -4  17   4   7   6  14  18
22  23                Independiente  18   -3  18   4   6   8  19  22
23  24               Colón Santa Fe  18   -7  18   4   6   8  15  22
24  25          Talleres de Cordoba  15   -4  16   3   6   7  12  16
25  26              Vélez Sarsfield  13   -6  18   1  10   7  19  25
26  27                     Aldosivi  13  -17  18   3   4  11  11  28
27  28                        Lanús  11  -13  18   2   5  11  15  28

In [7]:
df.describe().T

     count       mean       std   min    25%   50%    75%   max
#     28.0  14.500000  8.225975   1.0   7.75  14.5  21.25  28.0
P     28.0  23.785714  6.355850  11.0  19.75  24.5  28.25  34.0
+/-   28.0   0.000000  6.847546 -17.0  -4.00  -0.5   4.00  12.0
M     28.0  17.857143  0.448395  16.0  18.00  18.0  18.00  18.0
W     28.0   5.928571  2.340126   1.0   4.00   6.0   7.25  10.0
D     28.0   6.000000  2.260777   2.0   4.75   6.0   7.00  11.0
L     28.0   5.928571  2.371569   2.0   4.75   6.0   7.25  11.0
F     28.0  19.071429  3.962122  11.0  17.00  19.0  22.00  27.0
A     28.0  19.071429  4.936100   9.0  16.00  18.0  22.00  28.0

In [8]:
df.describe(include='O').T

     count unique               top freq
Club    28     28  Atlético Tucumán    1

In [9]:
# cambiamos los nombres de las columnas para que se entienda mejor la tabla
df= df.rename(columns={'#':'Posición', 'P': 'PUNTOS', '+/-': 'DIF GOL','M':'PARTIDOS JUGADOS','W':'GANADOS',
                       'D':'EMPATES','L':'PERDIDOS','F':'GOLES A FAVOR','A':'GOLES ENCONTRA'})
df

,Posición,Club,PUNTOS,DIF GOL,PARTIDOS JUGADOS,GANADOS,EMPATES,PERDIDOS,GOLES A FAVOR,GOLES ENCONTRA
0,1,Atlético Tucumán,34,11,18,9,7,2,20,9
1,2,Gimnasia y Esgrima La Plata,33,9,18,9,6,3,19,10
2,3,Huracán,32,9,18,8,8,2,22,13
3,4,Boca Juniors,32,2,18,10,2,6,24,22
4,5,Godoy Cruz Antonio Tomba,31,4,18,9,4,5,21,17
5,6,Argentinos Juniors,30,4,18,9,3,6,20,16
6,7,River Plate,29,12,18,8,5,5,27,15
7,8,Racing Club,28,9,18,7,7,4,24,15
8,9,Patronato de Parana,27,4,18,7,6,5,23,19
9,10,San Lorenzo de Almagro,26,5,18,5,11,2,23,18
10,11,Club Atlético Platense,26,3,18,6,8,4,17,14
11,12,Newell's Old Boys,26,1,18,7,5,6,17,16
12,13,Estudiantes de la Plata,26,0,18,7,5,6,17,17
13,14,Unión Santa Fe,26,-1,17,7,5,5,21,22
14,15,Tigre,23,2,18,5,8,5,25,23
15,16,Barracas Central,23,-6,18,6,5,7,20,26
16,17,Banfield,22,-1,18,5,7,6,17,18
17,18,Sarmiento,22,-4,18,6,4,8,18,22
18,19,Rosario Central,22,-4,18,6,4,8,14,18
19,20,CA Central Cordoba,21,-3,18,6,3,9,22,25
20,21,Arsenal de Sarandí,20,-2,18,3,11,4,18,20
21,22,Defensa y Justicia,19,-4,17,4,7,6,14,18
22,23,Independiente,18,-3,18,4,6,8,19,22
23,24,Colón Santa Fe,18,-7,18,4,6,8,15,22
24,25,Talleres de Cordoba,15,-4,16,3,6,7,12,16
25,26,Vélez Sarsfield,13,-6,18,1,10,7,19,25
26,27,Aldosivi,13,-17,18,3,4,11,11,28
27,28,Lanús,11,-13,18,2,5,11,15,28

In [10]:
df= df.set_index('Posición')

In [11]:
df

,Club,PUNTOS,DIF GOL,PARTIDOS JUGADOS,GANADOS,EMPATES,PERDIDOS,GOLES A FAVOR,GOLES ENCONTRA
Posición,,,,,,,,,
1,Atlético Tucumán,34,11,18,9,7,2,20,9
2,Gimnasia y Esgrima La Plata,33,9,18,9,6,3,19,10
3,Huracán,32,9,18,8,8,2,22,13
4,Boca Juniors,32,2,18,10,2,6,24,22
5,Godoy Cruz Antonio Tomba,31,4,18,9,4,5,21,17
6,Argentinos Juniors,30,4,18,9,3,6,20,16
7,River Plate,29,12,18,8,5,5,27,15
8,Racing Club,28,9,18,7,7,4,24,15
9,Patronato de Parana,27,4,18,7,6,5,23,19
10,San Lorenzo de Almagro,26,5,18,5,11,2,23,18
11,Club Atlético Platense,26,3,18,6,8,4,17,14
12,Newell's Old Boys,26,1,18,7,5,6,17,16
13,Estudiantes de la Plata,26,0,18,7,5,6,17,17
14,Unión Santa Fe,26,-1,17,7,5,5,21,22
15,Tigre,23,2,18,5,8,5,25,23
16,Barracas Central,23,-6,18,6,5,7,20,26
17,Banfield,22,-1,18,5,7,6,17,18
18,Sarmiento,22,-4,18,6,4,8,18,22
19,Rosario Central,22,-4,18,6,4,8,14,18
20,CA Central Cordoba,21,-3,18,6,3,9,22,25
21,Arsenal de Sarandí,20,-2,18,3,11,4,18,20
22,Defensa y Justicia,19,-4,17,4,7,6,14,18
23,Independiente,18,-3,18,4,6,8,19,22
24,Colón Santa Fe,18,-7,18,4,6,8,15,22
25,Talleres de Cordoba,15,-4,16,3,6,7,12,16
26,Vélez Sarsfield,13,-6,18,1,10,7,19,25
27,Aldosivi,13,-17,18,3,4,11,11,28
28,Lanús,11,-13,18,2,5,11,15,28

In [12]:
df.to_csv('liga_arg_2022.csv', encoding='utf-8') #generamos un archivo CSV con la lista que hemos bajado de la web